@import "../../default-variables.scss";

.rating {
    &__text {
        display: block;
        font-size: $font-size-xxs;
    }

    &__numbers {
        text-align: center;
    }

    &__current {
        font-size: $font-size-m;
    }

    &__max {
        font-size: $font-size-xs;
    }
}