.dropdown {
    width: 14px;
    height: 8px;
    cursor: pointer;
    background-image: url("/app/scss/blocks/dropdown/dropdown.svg");
    background-size: contain;
    background-repeat: no-repeat;
}