.star {
    padding: 0 1px;
    width: 10px;
    height: 8px;
    background-image: url("/app/scss/blocks/star/rating-star.svg");
    background-repeat: no-repeat;
    background-size: contain;
}