@import "../../default-variables.scss";

.link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &_gift {
        display: flex;
        align-items: center;

        &::before {
            content: " ";
            margin-right: 1.5rem;
            width: 18px;
            height: 18px;
            background-image: url("/app/scss/blocks/link/gift.svg");
        }
    }

    &_star {
        @extend .link_gift;

        &::before {
            background-image: url("/app/scss/blocks/link/star.svg");
        }
    }
}